/* =============================================================================
all the styles that apply directly to the whole page are here
============================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('./responsive.css');
@import url('./style.css');

*{
        margin: 0;
        padding: 0;
        font-family: 'Poppins','Inter',sans-serif;
}
a,ul,li{
        color: currentColor;
        list-style: none;
        text-decoration: none;
}
.android{
    display: none;
}
.active{
        background-color: rgba(51, 51, 51, 0.200);
        padding: 3px 20px;
        border-radius: 5px;
        color: white;
}
.pink{
    color: rgba(224, 44, 110, 0.87);
    font-weight: bold;
    font-size: 16px;
}
h1{
    text-transform: capitalize;
}
/*=======================/* 
Navbar styles
/*======================== */


.android{
    display: none;
}
.web{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 16px 0;
}
.web > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul>li{
    padding: 0 12px;
}

.nav__link{
    position: relative;
    padding: 3px 10px;
    transition: 0.5s;
}
.nav__link:hover{
    background-color: rgba(51, 51, 51, 0.342);
    border-radius: 5px;
    color: white;
}
.nav__link::after{
    content: '';
    position: absolute;
    background-color: #E02C6D;
    height: 2px;
    width: 20%;
    bottom: 0;
    left: 0;
    transition: 0.5s ;
}
.nav__link:hover::after{
    width: 100%;
}


/*=======================/* 
Navbar styles ends
/*======================== */


/*=======================/* 
footer styles 
/*======================== */


    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #0A0826;
        height: 240px;
        margin-top: 100px;
        color: white;
    }
    footer > h1{
        font-Weight :700;
        font-style: normal;
        font-size: 24px;
        letter-spacing: 4px;
    }
    footer p{
        letter-spacing: 4px;    
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
    .icon{
        margin-left: 12px;
        cursor: pointer;
    }
    .icon > i{
        padding: 5px;
        color: white;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.1);
        height: 32px;
        width: 32px;
        border-radius: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


/*=======================/* 
footer styles ends
/*======================== */
